body {
    background-color: #FFCA3A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buy{
    padding: 1em;
    margin: 1em;
}

.Check{
    padding: 1em;
    margin: 1em;
}

.warning{
    background-color : orange;
}

.pizza {
   /* box-model */
   border: 1px solid gainsboro;
   padding: 1em;
   margin: 1em; 
   margin-bottom: 0.5em; 
   border-radius: 1em;

   /* use display : inline-block */

   /*
   width: 20em; 
   display: inline-block;
   min-width: 30em; 
   */
}



.contain {
    background-color: #E12;
    flex : 1
}

.medium_pizza {
    background-color: #FF595E;
    flex : 1
}
.large_pizza {
    background-color: #6A4C93;
    flex : 1
}
.small_pizza {
    background-color: #1982CA;
    flex : 1
}

.contact_us {
    background-color: #8AC926;
}

@media (min-width: 760px) {
   /* apply this css if the page is wide than 760px */
    /* body {
        background-color: cornflowerblue;
    } */

}

.special {
    background-color: black;
    color: wheat;
}


@media screen and (min-width: 960px) {
    /* apply this css if the page is wide than 960px */
    /* body {
        background-color: #FFF;
    } */ 

    .pizzas {
        display: flex;
    }

}